<header id="masthead">
    <div class="container py-0">
        <a href="/" class="logo"><img class="logo" src="/images/mattobee_logo_subtract.svg" alt="Matt Obee"></a>
        <nav class="nav">
            <ul>
                <li class="nav__item"><a {% if '/uses' in page.url %}aria-current="page"{% endif %} class="{{ 'active' if '/uses' in page.url }}"href="/uses">Uses</a></li>
                <li class="nav__item"><a {% if '/resume' in page.url %}aria-current="page"{% endif %} class="{{ 'active' if '/resume' in page.url }}" href="/resume">Résumé</a></li>
                <li class="nav__item"><a {% if '/projects' in page.url %}aria-current="page"{% endif %} class="{{ 'active' if '/projects' in page.url }}"href="/projects">Projects</a></li>
                <li class="nav__item"><a {% if '/notes' in page.url %}aria-current="page"{% endif %} class="{{ 'active' if '/notes' in page.url }}" href="/notes">Notes</a></li>
            </ul>
        </nav>
        <sl-icon-button name="list" label="Menu" class="open-menu"></sl-icon-button>
    </div>
</header>