:root {

  /* Colors */
  --color-primary: var(--color-green);
  --color-secondary: var(--color-grey-600);
  --color-primary-bg: var(--color-primary);
  --color-primary-fg: var(--color-grey-600);
  --color-secondary-bg: var(--color-secondary);
  --color-secondary-fg: var(--color-white);
  --color-bg: var(--color-white);
  --color-fg: var(--color-grey-600);
  --color-bg-inverse: var(--color-grey-800);
  --color-fg-inverse: var(--color-white);
  --color-muted-bg: var(--color-grey-100);
  --color-muted-fg: var(--color-grey-500);
  --color-border: var(--color-grey-200);

  /* Body */
  --body-color-bg: var(--color-bg);
  --body-color-fg: var(--color-fg);
  --color-link: var(--color-grey);
  
  /* Masthead */
  --masthead-color-bg: var(--color-bg);
  --masthead-color-fg: var(--color-fg);
  --nav-active-bg: var(--color-grey-600);
  --nav-active-fg: var(--color-white);

  /* Footer */
  --footer-color-bg: var(--color-grey-600);
  --footer-color-muted-fg: var(--color-grey-400);
  --footer-color-link: var(--color-primary);

  /* Page header */
  --page-header-color-bg: var(--color-grey-600);
  --page-header-color-fg: var(--color-white);

}
