.logo {
  height: auto;
  width: 6rem;
}

.logo path {
  fill: var(--masthead-color-fg);
}

#masthead {
  background-color: var(--masthead-color-bg);
  color: var(--masthead-color-fg);
  container-type: inline-size;
  container-name: headerContainer;
  padding: var(--space-l) 0;
  > .container {
    display: flex;
    flex-direction: row; /* Default to row for larger viewports */
    justify-content: space-between;
    align-items: center;
  }
  a {
    box-shadow: none;
  }
}

@media (max-width: 600px) {
  #masthead > .container {
    flex-direction: column; /* Change to column for small viewports */
  }
}

.open-menu {
  display: none;
}


