.logo {
    height: auto;
    width: 6rem;
}

#masthead {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    container-type: inline-size;
    container-name: headerContainer;
    padding: var(--space-l);
    > .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    a {
        box-shadow: none;
    }
}

.open-menu {
    display: none;
}

@container headerContainer (max-width: 800px) {
    .nav {
        display: none;
    }
    .open-menu {
        display: block;
    }
}