.nav {
    font-size: 1.5rem;
    font-weight: bold;
    .nav__item {
        display: inline-block;
        margin-right: 2rem;
    }
    a {
        border: none;
        padding: 0;
        &::after {
            border-radius: 1000px;
            content: '';
            display: block;
            height: .3em;
            margin: 0 auto;
        }
        &.active {
            &::after {
                background-color: #D100D1;
                border-radius: 1000px;
                content: '';
                display: block;
                height: .3em;
                margin: 0 auto;
                width: 50%;
            }
        }
        &:hover {
            color: inherit;
            &::after {
                background-color: #D100D1;
                border-radius: 1000px;
                content: '';
                display: block;
                height: .3em;
                margin: 0 auto;
                width: 50%;
                transition: all;
                transition-duration: 200ms;
            }
        }
    }
}