.nav {
  font-size: var(--step-1);
  font-weight: bold;
  ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--step--2);
    justify-content: flex-start
  }
  a {
    border-radius: var(--border-radius-s);
    padding: var(--step--2);
    transition: none;
  }
  a:hover, a:active, a:focus-visible {
    color: var(--color-primary);
  }
  a.active {
    background-color: var(--nav-active-bg);
    color: var(--nav-active-fg);
    padding: var(--step--2)
  }
}
