.nav {
    margin-top: 3rem;
    ul {
        list-style-type: none;
        padding: 0;
        position: relative;
        left: 1px;
    }
    a:link, a:visited {
        // border-radius: 1000px;
        color: #fff;
        display: block;
        font-weight: bold;
        // margin-bottom: .5rem;
        padding: .5em 1em;
        text-align: center;
        text-decoration: none;
        transition: all 0.2s;
        &.current {
            background-color: var(--color-grellow);
            color: var(--color-grey);
            &:hover, &:active, &:focus {
                background-color: var(--color-grellow);
                color: var(--color-grey);
            }
        }
    }
    a:hover, a:active, a:focus {
        background-color: rgba(255,255,255,0.05);
        color: #fff;
    }
}