.project__client {
    font-size: 1rem;
    font-weight: normal;
    color: #6b7280;
    display: block;
}
.project__name {
    font-weight: bold;
}

.project {
    border-bottom: 1px solid #ccc;
}

.projects {
    width: 100%;
}