.project__client {
    display: block;
    margin-bottom: .2em;
}
.project__name {
    margin: 0;
}

.project__type {
    background-color: $yellow-marker;
    color: (var(--color-grey));
    display: inline-block;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding: .1em .4em;
}

.project__description {
    margin: 0;
}

.project {
    border-bottom: 1px solid #eee;
    margin-bottom: 2rem;
    padding: 2rem;
}

.projects {
    margin: 0;
}

.project--casestudy {
    background-color: #fff;
    box-shadow: 0 0 1rem 0 (rgba(0,0,0,0.1));
    padding-bottom: 3rem;
    position: relative;
    margin-bottom: 5rem;
}

.project__casestudy {
    background-color: rgba(42,42,42,1);
    border-radius: 1000px;
    border: none;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    padding: .2em 1em;
    position: absolute;
    right: 2rem;
    bottom: -1.5rem;
    &:hover, &:active, &:focus {
        background-color: cyan;
        box-shadow: none;
        color: rgba(42,42,42,1);
    }
}