.role__date {
    display: block;
}

.role__title {
    position: relative;
    &::before {
        content: '';
        display: inline-block;
        background-color: #2a2a2a;
        height: .4em;
        margin-right: .5em;
        width: .4em;
    }
}

.role--now {
    background-color: var(--color-yellow-highlight);
    border-radius: var(--space-xs);
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 2rem;
    .muted {
        color: rgba(0, 0, 0, 0.6);
    }
}

.qual__title {
    font-size: var(--step-1);
    position: relative;
    &::before {
        content: '';
        display: inline-block;
        background-color: var(--color-grey);
        height: .4em;
        margin-right: .5em;
        width: .4em;
    }
}
