.role__date {
    display: block;
}

.role__title {
    position: relative;
    &::before {
        content: '';
        display: inline-block;
        background-color: #2a2a2a;
        height: .4em;
        margin-right: .5em;
        width: .4em;
    }
}

.role--now {
    background-color: #2a2a2a;
    color: #fff;
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 2rem;
    .role__title::before {
        background-color: yellow;
    }
}

.qual__title {
    font-size: var(--step-1);
    position: relative;
    &::before {
        content: '';
        display: inline-block;
        background-color: #2a2a2a;
        height: .4em;
        margin-right: .5em;
        width: .4em;
    }
}
