:root {
    --color-grey-light: #384048;
    --color-grey: #292f35;
    --color-grey-dark: #20252a;
    --color-grellow: #EDFF66;
    --color-blue: #66BBFF;
    --color-red: #BE4242;
    --color-pink: #DB2A62;
}