:root {
    --color-grey-light: #3f4852;
    --color-grey: #292f35;
    --color-grey-dark: #20252a;
    --color-grellow: #EDFF66;
    --color-blue: #00B8F7;
    --color-red: #BE4242;
    --color-pink: #DB2A62;
}