@import url("https://use.typekit.net/iap3vru.css");

@import "reset";
@import "base";
@import "variables";
@import "space";
@import "color";
@import "utilities";
@import "patterns";
@import "typo";
@import "btn";
@import "header";
@import "footer";
@import "nav";
@import "resume";
@import "projects";

:root {
    scroll-behavior: smooth;
    scroll-snap-type: y;
}

dl {
    display: flex;
    flex-direction: column;
}

dl > div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: var(--space-2xs) 0;
}

dt, dd {
    margin: 0;
}

.section {
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.flow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flow > * {
    margin-block: 0;
}

.flow > * + * {
    margin-block-start: var(--flow-space, 1.5rem);
}

.flow-l > * {
    --flow-space: var(--space-l);
}

.flow-m > * {
    --flow-space: var(--space-m);
}

.flow-xl > * {
    --flow-space: var(--space-xl);
}

.flow-xs > * {
    --flow-space: var(--space-3xs);
}