@import url("https://use.typekit.net/iap3vru.css");

@import "reset";
@import "normalize";
@import "base";
@import "variables";
@import "color";
@import "utilities";
@import "patterns";
@import "typo";
@import "header";
@import "nav";
@import "resume";

:root {
    scroll-behavior: smooth;
    scroll-snap-type: y;
}

footer {
    background-color: #fff;
    padding: 4rem;
}