@import url("https://use.typekit.net/iap3vru.css");

@import "reset";
@import "normalize";
@import "variables";
@import "nav";
@import "utilities";

body {
    background-color: var(--color-grey);
    color: #fff;
    font-family: roboto, sans-serif;
    line-height: 1.5;
    margin: 0;
}

h2  {
    font-weight: normal;
    font-family: roboto-slab, serif;
}

a:link, a:visited {
    color: inherit;
}
a:hover, a:active, a:focus {
    color: var(--color-grellow);
}

header {
    // border-color: var(--color-grey-light);
    // border-style: solid;
    // border-top-width: 0;
    // border-bottom-width: 0;
    // border-left-width: 0;
    // border-right-width: 1px;
    grid-area: sidebar;
    position: sticky;
    top: 0;
    height: 100vh;
    .logo {
        display: block;
        margin: 4rem auto;
        max-width: 6rem;
    }
}

.intro {
    background-color: var(--color-grey-dark);
    background-image: url(https://images.unsplash.com/photo-1496171367470-9ed9a91ea931?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
    .blurb {
        background-color: var(--color-red);
        color: #fff;
        font-size: 2rem;
        font-family: roboto-slab, serif;
        line-height: 1.25;
        margin: 6rem;
        opacity: .9;
        padding: 2rem 2.5rem;
        position: relative;
        &::before {
            content: '';
            background-color: #fff;
            height: .6rem;
            width: 6rem;
            position: absolute;
            top: 0;
        }
    }
}

.layout {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "sidebar content";
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    grid-area: content;
    border-color: var(--color-grey-light);
    border-style: solid;
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 1px;
    border-right-width: 1px;
}

footer {
    background-color: var(--color-grey-dark);
    padding: 3rem;
}

.section {
    &::before {
        content: '';
        background-color: var(--color-grellow);
        height: .6rem;
        width: 6rem;
        position: absolute;
        top: 0;
    }
    border-color: var(--color-grey-light);
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    padding: 3rem;
    position: relative;
    &__heading {
        font-size: 4rem;
        margin-top: 0;
        margin-bottom: 2rem;
    }
    &--first {
        border-top: none;
        &::before {
            content: none;
        }
    }
    &--nokeyline {
        &::before {
            content: none;
        }
    }
}

.panel {
    background-color: var(--color-grey-dark);
    overflow: hidden;
    &__header {
        background-color: #fff;
        color: var(--color-grey);
        padding: 1.5rem;
        text-align: center;
    }
    &__heading {
        margin: 0;
    }
    &__body {
        padding: 1.5rem;
        p {
            margin: 0;
        }
    }
    &__icon {
        height: 8rem;
        margin-bottom: .5rem;
        max-width: 100%;
    }
}

.client__logo {
    height: 4rem;
    margin-bottom: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-gap: 1rem;
    // grid-auto-rows: 1fr;
}


.border-0 {
    border-width: 0;
}

.social {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 2rem;
    a {
        margin-right: 1rem;
        color: #fff;
        &:hover, &:active, &:focus {
            color: var(--color-grellow);
        }
    }
}

.sr-only {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}