/* @import url('../../node_modules/@shoelace-style/shoelace/dist/themes/light.css');
@import url('../../node_modules/@shoelace-style/shoelace/dist/themes/dark.css'); */

@import url('themes/_light.css');
@import url('themes/_dark.css');
@import url('_reset.css');
@import url('_base.css');
@import url('_variables.css');
@import url('_typo.css');
@import url('_space.css');
@import url('_patterns.css');
@import url('_btn.css');
@import url('_header.css');
@import url('_footer.css');
@import url('_nav.css');
@import url('_resume.css');
@import url('_projects.css');
@import url('_drawer.css');
@import url('_utilities.css');

:root {
  scroll-behavior: smooth;
  scroll-snap-type: y;
}

dl {
  display: flex;
  flex-direction: column;
}

dl > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border);
  padding: var(--space-2xs) 0;
  @media (min-width: 900px) {
    flex-direction: row;
  }
}

dt,
dd {
  margin: 0;
}

dt {
  font-weight: bold;
}

.section:not([class*='bg-']) {
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.page-header + .section {
  border-top: none;
}


.flow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flow > * {
  margin-block: 0;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1.5rem);
}

.flow-l > * {
  --flow-space: var(--space-l);
}

.flow-m > * {
  --flow-space: var(--space-m);
}

.flow-xl > * {
  --flow-space: var(--space-xl);
}

.flow-xs > * {
  --flow-space: var(--space-3xs);
}

.flow-s > * {
  --flow-space: var(--space-s);
}

.skip {
  padding: var(--space-2xs);
  transition: none;
  .container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.skip:not(:focus):not(:active) {
  position: absolute;
  top: -1000px;
  left: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.skip:focus {
  background-color: var(--color-fg);
  box-shadow: none;
  display: block;
  outline: none;
}


.note__date {
  display: inline-block; /* Ensure it is inline-block or block */
}

.note__date::first-letter {
  text-transform: uppercase;
}