<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <script>
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'has-js ';
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Matt Obee is a digital product designer specialising in accessibility and inclusive design.">
    <meta name="generator" content="Eleventy">
    <title>{{ renderData.title or title or metadata.title }} - digital product designer specialising in accessibility</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="stylesheet" href="/styles/style.css">
    <script defer src="https://kit.fontawesome.com/944b743d87.js" crossorigin="anonymous"></script>
  </head>
  <body id="top" itemscope itemtype="http://schema.org/Person">
    {% include "../header.njk" %}
    <main id="main">
      {{ content | safe }}
    </main>
    <footer>
      <div class="container">
        <ul role="list" class="social">
          <li><a class="social__link" href="https://linkedin.com/in/mattobee" itemprop="sameAs" rel="me" aria-label="Matt Obee on LinkedIn"><i class="fab fa-linkedin"></i></a></li>
          <li><a class="social__link" href="https://github.com/mattobee" itemprop="sameAs" rel="me" aria-label="Matt Obee on GitHub"><i class="fab fa-github"></i></a></li>
          <li><a class="social__link" href="https://mastodon.social/@mattobee" itemprop="sameAs" rel="me" aria-label="Matt Obee on Mastodon"><i class="fab fa-mastodon"></i></a></li>
          <li><a class="social__link" href="https://goodreads.com/mattobee" itemprop="sameAs" rel="me" aria-label="Matt Obee on Goodreads"><i class="fab fa-goodreads"></i></a></li>
        </ul>
        <!-- Start a11y-webring-club -->
        <nav class="a11y-webring-club" aria-labelledby="a11y-webring-club">
          <h2 class="m-0" id="a11y-webring-club">a11y-webring.club</h2>
          <p>This site is a member of the <a rel="external" href="https://a11y-webring.club/">a11y-webring.club</a>.</p>
          <ul role="list" class="mb-0">
            <li><a rel="previous external" href="https://a11y-webring.club/prev"><i class="fa-solid fa-fw fa-arrow-left"></i> Previous website</a></li>
            <li><a rel="external" href="https://a11y-webring.club/random"><i class="fa-solid fa-fw fa-shuffle"></i> Random website</a></li>
            <li><a rel="next external" href="https://a11y-webring.club/next"><i class="fa-solid fa-fw fa-arrow-right"></i> Next website</a></li>
          </ul>
        </nav>
        <!-- End a11y-webring-club -->
        <p class="m-0"><small>&copy; {% year %} Matt Obee</small></p>
        <p class="m-0"><small>This page conforms to <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.2 at Level <abbr title="Double-A">AA</abbr>, because accessibility is important.</small></p>
        <p class="m-0"><small>Built with <a href="https://www.11ty.dev/">Eleventy</a> and hosted by <a href="https://www.netlify.com/">Netlify</a>. Basic accessibility tests by <a href="https://github.com/pa11y/pa11y">pa11y</a>/<a href="https://github.com/dequelabs/axe-core">axe-core</a>.
      </div>
    </footer>
    <script src="/scripts/index.js"></script>
  </body>
</html>
