---
layout: layouts/base.njk
---

<div class="section">
    <div class="container">
        <h1><span aria-hidden="true" role="presentation">/</span>{{ title }}</h1>
        {% if summary %}
            <p class="large mb-0">{{ summary }}</p>
        {% endif %}
    </div>
</div>

{{ content | safe }}