---
layout: layouts/base.njk
---

<div class="page-header">
    <div class="container">
        <div class="content">
            <h1>{{ title }}</h1>
            {% if summary %}
                <p class="page-header__summary">{{ summary }}</p>
            {% endif %}
        </div>
    </div>
</div>

{{ content | safe }}