---
layout: layouts/base.njk
---

{% set maturityTitles = {
  'seedling': '<i class="fa-solid fa-seedling"></i> Seedling',
  'budding': '<i class="fa-solid fa-leaf"></i> Budding',
  'evergreen': '<i class="fa-solid fa-tree"></i> Evergreen',
  'journal': 'Journal Entry'
} %}

{% set maturityExplanations = {
  'journal': 'This is a <strong>journal entry</strong>. It was worth mentioning at the time but I probably won\'t make changes to it, other than to fix mistakes.',
  'seedling': 'This is a <i class="fa-solid fa-seedling"></i> <strong>Seedling</strong> note which means that it is incomplete and potentially inaccurate.',
  'budding': 'This is a <i class="fa-solid fa-leaf"></i> <strong>Budding</strong> note that is still growing. I have spent some time on it but it still needs a little work.',
  'evergreen': 'This is a fully grown <i class="fa-solid fa-tree"></i> <strong>Evergreen</strong> note. The information is complete and I will endeavour to keep it up to date.'
} %}

<article itemscope itemtype="https://schema.org/BlogPosting">
    <header class="page-header page-header--child">
        <div class="container flow flow-s items-start">
            <a class="undecorated" href="/notes"><i class="fa-solid fa-arrow-left"></i> Back to notes</a>
            <div class="contents">
                <h1 itemprop="name" class="note">{{ note.title }}</h1>
                <div>
                    <span class="note__status muted">
                        {% if note.maturity %}
                            {{ maturityTitles[note.maturity] | safe }}
                            &middot;
                        {% endif %}
                      <sl-relative-time class="note__date" date="{{ note.published or note._updatedAt }}" itemprop="dateModified"></sl-relative-time> 
                      &middot;
                    on the topic of {% for topic in note.topics %}
                        <a href="/notes/{{ topic.slug }}">{{ topic.title }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    </span>
                </div>
            </div>
        </div>
    </header>
    

    <div class="container readable flow flow-l">

        {% if note.tldr %}
        <section id="tldr" class="callout flow flow-xs">
            <h2 class="tldr__heading"><abbr title="Too long; didn't read">TL;DR</abbr></h2>
            <div itemprop="abstract" class="flow">{{ note.tldr | markdown | safe }}</div>
        </section>
        {% endif %}

        <div class="article" itemprop="articleBody">

            {% if note.content %}
                {{ note.content | markdown | safe }}
            {% else %}
            <p>Content is not available.</p>
            {% endif %}

        </div>
        <!-- End article -->

        {% if note.maturity %}
          {% set explanation = maturityExplanations[note.maturity] %}
          {% if explanation %}
            <div id="maturity" class="callout">
              <p>{{ explanation | safe }} It was last updated <sl-relative-time class="note__date" date="{{ note.published or note._updatedAt }}" itemprop="dateModified"></sl-relative-time>.</p>
            </div>
          {% endif %}
        {% endif %}

    </div>

</article>