---
layout: layouts/base.njk
---

{% set maturityTitles = {
  'seedling': 'Seedling',
  'budding': 'Budding',
  'evergreen': 'Evergreen'
} %}

<article itemscope itemtype="https://schema.org/BlogPosting">
    <header class="page-header section">
        <div class="container">
            <h1 itemprop="name" class="note">{{ note.title }}</h1>
            <span class="note__status muted"><span itemprop="creativeWorkStatus">{{ maturityTitles[note.maturity] }}</span> &middot; Updated <sl-relative-time date="{{ note._updatedAt }}" itemprop="dateModified"></sl-relative-time></span>
        </div>
    </header>

    <div class="container readable flow flow-l">

        {% if note.tldr %}
        <section class="callout flow flow-xs">
            <h2><abbr title="Too long; didn't read">TL;DR</abbr></h2>
            <div itemprop="abstract">{{ note.tldr | markdown | safe }}</div>
        </section>
        {% endif %}

        <div class="article" itemprop="articleBody">

            {% if note.content %}
                {{ note.content | markdown | safe }}
            {% else %}
            <p>Content is not available.</p>
            {% endif %}

        </div>
        <!-- End article -->

        <div class="signature flow flow-xs role role--now">
            <h2>Cheers for reading</h2>
            <p>I'm <span itemprop="author" itemscope itemtype="https://schema.org/Person"><span itemprop="name">Matt Obee</span></a>, a design technologist specialising in accessibility and {% randomPhrase %}. Currently a Staff Accessibility Designer at <a href="https://github.com">GitHub</a> and the maintainer of <a href="https://eventua11y.com">Eventua11y</a>, I have been working in accessibility since 2006.</p>
        </div>
        <!-- End signatute -->

    </div>

</article>