---
layout: layouts/base.njk
---

<header class="page-header section bg-muted">
    <div class="container">
        <h1 itemprop="name" class="note"><span class="eyebrow">Notes on</span> {{ topic.title }}</h1>
    </div>
</header>

<div class="container">
    {{ content | safe }}
</div>