.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-balance {
  text-wrap: balance;
}

.leading-tight {
  line-height: var(--leading-tight);
}

.leading-base {
  line-height: var(--leading-base);
}

.leading-loose {
  line-height: var(--leading-loose);
}

.leading-looser {
  line-height: var(--leading-looser);
}

.text-2xs {
  font-size: var(--step--3);
}
.text-xs {
  font-size: var(--step--2);
}
.text-s {
  font-size: var(--step--1);
}
.text-lg {
  font-size: var(--step-1);
}
.text-xl {
  font-size: var(--step-2);
}
.text-2xl {
  font-size: var(--step-3);
}
.text-3xl {
  font-size: var(--step-4);
}

.font-normal {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}