---
layout: layouts/default.njk
title: About
---

<section class="section">
    <h2 class="sr-only">Competencies</h2>
    <div id="skills" class="container">
        <div>
            <h3>Knowledge</h3>
            <dl>
                <div>
                    <dt>HTML</dt>
                    <dd>Very deep</dd>
                </div>
                <div>
                    <dt>CSS</dt>
                    <dd>Deep</dd>
                </div>
                <div>
                    <dt>JavaScript</dt>
                    <dd>Shallow</dd>
                </div>
                <div>
                    <dt>Web accessibility</dt>
                    <dd>Very deep</dd>
                </div>
                <div>
                    <dt>Native accessibility</dt>
                    <dd>Moderate</dd>
                </div>
                <div>
                    <dt>WCAG</dt>
                    <dd>Deep</dd>
                </div>
                <div>
                    <dt>ARIA</dt>
                    <dd>Moderate</dd>
                </div>
                <div>
                    <dt>Assistive Technology</dt>
                    <dd>Moderate</dd>
                </div>
                <div>
                    <dt>Usability</dt>
                    <dd>Deep</dd>
                </div>
            </dl>
        </div>
        <div>
            <h3>Practice</h3>
            <dl>
                <div>
                    <dt>Designing</dt>
                    <dd>Regularly</dd>
                </div>
                <div>
                    <dt>Developing</dt>
                    <dd>Occasionally</dd>
                </div>
                <div>
                    <dt>Auditing</dt>
                    <dd>Rarely</dd>
                </div>
                <div>
                    <dt>Coaching</dt>
                    <dd>Regularly</dd>
                </div>
                <div>
                    <dt>Teaching</dt>
                    <dd>Occasionally</dd>
                </div>
                <div>
                    <dt>Leading</dt>
                    <dd>Regularly</dd>
                </div>
                <div>
                    <dt>Facilitating</dt>
                    <dd>Occasionally</dd>
                </div>
                <div>
                    <dt>Writing</dt>
                    <dd>Occasionally</dd>
                </div>
                <div>
                    <dt>Speaking</dt>
                    <dd>Rarely</dd>
                </div>
            </dl>
        </div>
        <div>
            <h3>Tools</h3>
            <dl>
                <div>
                    <dt>Figma</dt>
                    <dd>Regularly</dd>
                </div>
                <div>
                    <dt>Figjam</dt>
                    <dd>Regularly</dd>
                </div>
                <div>
                    <dt>Sketch</dt>
                    <dd>Rarely</dd>
                </div>
                <div>
                    <dt>Miro</dt>
                    <dd>Occasionally</dd>
                </div>
                <div>
                    <dt>VS Code</dt>
                    <dd>Regularly</dd>
                </div>
                <div>
                    <dt>GitHub</dt>
                    <dd>Every day</dd>
                </div>
                <div>
                    <dt>Slack</dt>
                    <dd>Every day</dd>
                </div>
                <div>
                    <dt>Microsoft Teams</dt>
                    <dd>Occasionally</dd>
                </div>
            </dl>
        </div>
    </div>
</section>

<div class="container readable flow flow-xl">
    <div class="flow flow-m">
        <h2>Professional experience</h2>
        <ol reversed role="list" class="roles">
            <li class="role" itemscope itemtype="https://schema.org/Role">
                <div class="role__row">
                    <span class="role__description">
                        <span class="role__title" itemprop="roleName">Staff Accessibility Designer</span>
                        at <a href="https://github.com/" itemprop="affiliation" itemscope itemtype="https://schema.org/Organization">
                            <span itemprop="name">GitHub</span></a>
                    </span>
                    <span class="role__date muted">
                        <time itemprop="startDate" datetime="2024">2024</time>–<time itemprop="endDate" datetime="">Present</time>
                    </span>
                </div>
            </li>
            <li class="role" itemscope itemtype="https://schema.org/Role">
                <div class="role__row">
                    <span class="role__description">
                        <span class="role__title" itemprop="roleName">Principal Designer</span>
                        at <a href="https://nearform.com" itemprop="affiliation" itemscope itemtype="https://schema.org/Organization">
                            <span itemprop="name">NearForm</span></a>
                    </span>
                    <span class="role__date muted">
                        <time itemprop="startDate" datetime="2022">2022</time>–<time itemprop="endDate" datetime="2024">2024</time>
                    </span>
                </div>
                <ul class="role__projects fa-ul">
                    <li>
                        <span class="fa-li">
                            <i class="fa-solid fa-hyphen"></i>
                        </span>Consolidated mobile app for the newly merged Virgin Media O2</li>
                    <li>
                        <span class="fa-li">
                            <i class="fa-solid fa-hyphen"></i>
                        </span>Mergers and acquisitions platform for McKinsey &amp; Company</li>
                    <li>
                        <span class="fa-li">
                            <i class="fa-solid fa-hyphen"></i>
                        </span>Accessibility consulting for ESB</li>
                </ul>
            </li>
            <li class="role" itemscope itemtype="https://schema.org/Role">
                <div class="role__row">
                    <span class="role__description">
                        <span class="role__title" itemprop="roleName">Senior Product Designer</span>
                        at <a href="https://nearform.com" itemprop="affiliation" itemscope itemtype="https://schema.org/Organization">
                            <span itemprop="name">NearForm</span></a>
                    </span>
                    <span class="role__date muted">
                        <time itemprop="startDate" datetime="2020">2020</time>–<time itemprop="endDate" datetime="2022">2022</time>
                    </span>
                </div>
                <ul class="role__projects fa-ul">
                    <li>
                        <span class="fa-li">
                            <i class="fa-solid fa-hyphen"></i>
                        </span>AI bioprognostics platform for Renalytix</li>
                    <li>
                        <span class="fa-li">
                            <i class="fa-solid fa-hyphen"></i>
                        </span>Multi-brand ecommerce for SIG</li>
                    <li>
                        <span class="fa-li">
                            <i class="fa-solid fa-hyphen"></i>
                        </span>COVID-19 response app for New York Department of Health</li>
                    <li>
                        <span class="fa-li">
                            <i class="fa-solid fa-hyphen"></i>
                        </span>COVID-19 response app for Pennsylvania Department of Health</li>
                </ul>
            </li>
            <li class="role" itemscope itemtype="https://schema.org/Role">
                <div class="role__row">
                    <span class="role__description">
                        <span class="role__title" itemprop="roleName">Founder and UX/UI Designer</span>
                        at <span itemprop="affiliation" itemscope itemtype="https://schema.org/Organization">
                            <span itemprop="name">Goodcircle</span></span>
                    </span>
                    <span class="role__date muted">
                        <time itemprop="startDate" datetime="2020">2020</time>–<time itemprop="endDate" datetime="2022">2022</time>
                    </span>
                </div>
            </li>
            <li class="role" itemscope itemtype="https://schema.org/Role">
                <div class="role__row">
                    <span class="role__description">
                        <span class="role__title" itemprop="roleName">UI Designer</span>
                        at <a href="https://holidayextras.com/" itemprop="affiliation" itemscope itemtype="https://schema.org/Organization">
                            <span itemprop="name">Holiday Extras</span></a>
                    </span>
                    <span class="role__date muted">
                        <time itemprop="startDate" datetime="2018">2018</time>–<time itemprop="endDate" datetime="2020">2020</time>
                    </span>
                </div>
            </li>
            <li class="role" itemscope itemtype="https://schema.org/Role">
                <div class="role__row">
                    <span class="role__description">
                        <span class="role__title" itemprop="roleName">Senior Software Tester</span>
                        at <a href="https://holidayextras.com/" itemprop="affiliation" itemscope itemtype="https://schema.org/Organization">
                            <span itemprop="name">Holiday Extras</span></a>
                    </span>
                    <span class="role__date muted">
                        <time itemprop="startDate" datetime="2015">2015</time>–<time itemprop="endDate" datetime="2018">2018</time>
                    </span>
                </div>
            </li>
            <li class="role" itemscope itemtype="https://schema.org/Role">
                <div class="role__row">
                    <span class="role__description">
                        <span class="role__title" itemprop="roleName">Software Tester, UX/UI</span>
                        at <a href="https://holidayextras.com/" itemprop="affiliation" itemscope itemtype="https://schema.org/Organization">
                            <span itemprop="name">Holiday Extras</span></a>
                    </span>
                    <span class="role__date muted">
                        <time itemprop="startDate" datetime="2015">2015</time>
                    </span>
                </div>
            </li>
            <li class="role" itemscope itemtype="https://schema.org/Role">
                <div class="role__row">
                    <span class="role__description">
                        <span class="role__title" itemprop="roleName">Freelance UX/UI Designer</span>
                    </span>
                    <span class="role__date muted">
                        <time itemprop="startDate" datetime="2012">2012</time>–<time itemprop="endDate" datetime="2019">2019</time>
                    </span>
                </div>
                <ul class="role__projects fa-ul">
                    <li>
                        <span class="fa-li">
                            <i class="fa-solid fa-hyphen"></i>
                        </span>CPD tracker for the Royal College of Speech and Language Therapists</li>
                    <li>
                        <span class="fa-li">
                            <i class="fa-solid fa-hyphen"></i>
                        </span>Performance management platform for Purple Cubed</li>
                </ul>
            </li>
            <li class="role" itemscope itemtype="https://schema.org/Role">
                <div class="role__row">
                    <span class="role__description">
                        <span class="role__title" itemprop="roleName">QA/UX Manager</span>
                        at <a href="https://redant.com/" itemprop="affiliation" itemscope itemtype="https://schema.org/Organization">
                            <span itemprop="name">Red Ant</span></a>
                    </span>
                    <span class="role__date muted">
                        <time itemprop="startDate" datetime="2006">2006</time>–<time itemprop="endDate" datetime="2015">2015</time>
                    </span>
                </div>
                <ul class="role__projects fa-ul">
                    <li>
                        <span class="fa-li">
                            <i class="fa-solid fa-hyphen"></i>
                        </span>Multi-currency app for Mastercard</li>
                    <li>
                        <span class="fa-li">
                            <i class="fa-solid fa-hyphen"></i>
                        </span>Personal shopper app for Harrods</li>
                    <li>
                        <span class="fa-li">
                            <i class="fa-solid fa-hyphen"></i>
                        </span>Ecommerce website for The Entertainer</li>
                    <li>
                        <span class="fa-li">
                            <i class="fa-solid fa-hyphen"></i>
                        </span>Omnichannel retail experience for Sofology</li>
                    <li>
                        <span class="fa-li">
                            <i class="fa-solid fa-hyphen"></i>
                        </span>Ecommerce website and community for Winsor &amp; Newton</li>
                    <li>
                        <span class="fa-li">
                            <i class="fa-solid fa-hyphen"></i>
                        </span>Snack subscription platform for Graze</li>
                    <li>
                        <span class="fa-li">
                            <i class="fa-solid fa-hyphen"></i>
                        </span>Pharmacovigilance system for MHRA</li>
                    <li>
                        <span class="fa-li">
                            <i class="fa-solid fa-hyphen"></i>
                        </span>Multi-brand ecommerce for Hornby</li>
                    <li>
                        <span class="fa-li">
                            <i class="fa-solid fa-hyphen"></i>
                        </span>Competition platform for Sony World Photography Awards</li>
                </ul>
            </li>
        </ol>
    </div>
    <div class="flow flow-m">
        <h2>Qualifications</h2>
        <dl>
            <div>
                <dt class="font-normal">BSc (Hons) Design &amp; Innovation, 2:1</dt>
                <dd><small class="muted">The Open University · 2016</small></dd>
            </div>
            <div>
                <dt class="font-normal">CPWA (Certified Professional in Web Accessibility)</dt>
                <dd><small class="muted">IAAP · 2021-2024</small></dd>
            </div>
            <div>
                <dt class="font-normal">WAS (Web Accessibility Specialist)</dt>
                <dd><small class="muted">IAAP · 2021-2024</small></dd>
            </div>
            <div>
                <dt class="font-normal">CPACC (Certified Professional in Accessibility Core Competencies)</dt>
                <dd><small class="muted">IAAP · 2021-2024</small></dd>
            </div>
            <div>
                <dt class="font-normal">Certified Tester Foundation Level</dt>
                <dd><small class="muted">ISTQB · 2014</small></dd>
            </div>
        </dl>
    </div>
    <!-- End container -->