---
layout: layouts/base.njk
title: About - Matt Obee
---

<div class="container">
    <h1>Hi, I’m Matt</h1>
</div>

<div class="container readable">
    <p>Sed vel nunc in erat pellentesque semper. Cras ullamcorper ipsum massa, non vehicula eros efficitur quis. Suspendisse sit amet molestie justo. Vestibulum a nibh justo. Sed quis diam rhoncus, convallis urna ac, cursus massa. Maecenas egestas porttitor sodales. Morbi euismod tincidunt justo nec imperdiet. Suspendisse sagittis mattis ante vel tempor. Integer eu vehicula quam. Maecenas efficitur bibendum ipsum, sed scelerisque ex cursus non. Duis a elementum lectus. Pellentesque tristique neque a tellus bibendum, sit amet dignissim elit feugiat.</p>
    <h2>Short Biography</h2>
    <p>In which I talk about myself in the third person so you don't have to.</p>
    <p class="callout">Matt Obee is a digital product designer specialising in accessibility and inclusive design. Currently a Principal Designer at NearForm, he has previously held roles in <abbr title="User Experience">UX</abbr>, <abbr title="User Interface">UI</abbr> and <abbr title="Quality Assurance">QA</abbr>. From startups and charities to international brands and government agencies, Matt has worked on projects of all shapes and sizes for a wide range of clients across a broad spectrum of industries.</p>
    <h2>Why accessibility?</h2>
    <p>I'm passionate about accessibility and inclusive design in part because I grew up with disabled parents. I saw what things they struggled with and missed out on, and I learned how even simple changes can make a big difference. Those lessons stayed with me and helped shape my career. I do what I can to make the products I work on more accessible and try to inspire other people along the way.</p>
    <h2>My design process</h2>
    <p>I wouldn't say that I have one design process so much as a collection of strategies and techniques that I mix and match in whatever way makes sense for each project. I'm often embedded in a client team so I have to adapt to their preferred ways of working.</p>
    <p>Broadly speaking I like to:</p>
    <ul class="bullet">
        <li>Work in the open</li>
        <li>Learn from the experts</li>
        <li>Collaborate with engineers</li>
        <li>Get feedback from users early and often</li>
    </ul>
</div>
<!-- End container -->
