---
layout: layouts/default.njk
title: About
---

  <section class="section">
        <h2 class="sr-only">Competencies</h2>
        <div id="skills" class="container">
            <div>
                <h3>Knowledge</h3>
                <dl>
                    <div>
                        <dt>HTML</dt>
                        <dd>Very deep</dd>
                    </div>
                    <div>
                        <dt>CSS</dt>
                        <dd>Deep</dd>
                    </div>
                    <div>
                        <dt>JavaScript</dt>
                        <dd>Shallow</dd>
                    </div>
                    <div>
                        <dt>Web accessibility</dt>
                        <dd>Very deep</dd>
                    </div>
                    <div>
                        <dt>Native accessibility</dt>
                        <dd>Moderate</dd>
                    </div>
                    <div>
                        <dt>WCAG</dt>
                        <dd>Deep</dd>
                    </div>
                    <div>
                        <dt>ARIA</dt>
                        <dd>Moderate</dd>
                    </div>
                    <div>
                        <dt>Assistive Technology</dt>
                        <dd>Moderate</dd>
                    </div>
                    <div>
                        <dt>Usability</dt>
                        <dd>Deep</dd>
                    </div>
                </dl>
            </div>
            <div>
                <h3>Practice</h3>
                <dl>
                    <div>
                        <dt>Designing</dt>
                        <dd>Regularly</dd>
                    </div>
                    <div>
                        <dt>Developing</dt>
                        <dd>Occasionally</dd>
                    </div>
                    <div>
                        <dt>Auditing</dt>
                        <dd>Rarely</dd>
                    </div>
                    <div>
                        <dt>Coaching</dt>
                        <dd>Regularly</dd>
                    </div>
                    <div>
                        <dt>Teaching</dt>
                        <dd>Occasionally</dd>
                    </div>
                    <div>
                        <dt>Leading</dt>
                        <dd>Regularly</dd>
                    </div>
                    <div>
                        <dt>Facilitating</dt>
                        <dd>Occasionally</dd>
                    </div>
                    <div>
                        <dt>Writing</dt>
                        <dd>Occasionally</dd>
                    </div>
                    <div>
                        <dt>Speaking</dt>
                        <dd>Rarely</dd>
                    </div>
                </dl>
            </div>
            <div>
                <h3>Tools</h3>
                <dl>
                    <div>
                        <dt>Figma</dt>
                        <dd>Regularly</dd>
                    </div>
                    <div>
                        <dt>Figjam</dt>
                        <dd>Regularly</dd>
                    </div>
                    <div>
                        <dt>Sketch</dt>
                        <dd>Rarely</dd>
                    </div>
                    <div>
                        <dt>Miro</dt>
                        <dd>Occasionally</dd>
                    </div>
                    <div>
                        <dt>VS Code</dt>
                        <dd>Regularly</dd>
                    </div>
                    <div>
                        <dt>GitHub</dt>
                        <dd>Every day</dd>
                    </div>
                    <div>
                        <dt>Slack</dt>
                        <dd>Every day</dd>
                    </div>
                    <div>
                        <dt>Microsoft Teams</dt>
                        <dd>Occasionally</dd>
                    </div>
                </dl>
            </div>
        </div>
    </section>

<div class="container readable flow flow-xl">

    <div class="flow flow-xl">
        <div class="flow flow-s">
            <h2 class="m-0">Professional Experience</h2>
        </div>
        <ul role="list" class="flow flow-xl">
            <li class="role role--now flow flow-xs">
                <h3 class="role__title"><span itemprop="jobTitle"><i class="fab fa-github"></i> Staff Accessibility Designer</span> at <a itemprop="memberOf" href="https://github.com" class="role__employer">GitHub</a></h3>
                <span class="role__date muted">Since February 2024</span>
            </li>
            <li class="role flow flow-xs">
                <h3 class="role__title"><span itemprop="jobTitle">Principal Designer</span> at <a itemprop="memberOf" href="https://nearform.com" class="role__employer">NearForm</a></h3>
                <span class="role__date muted">July 2022 - January 2024</span>
                <p class="role__description">Providing accessibility expertise and leadership to the business and its clients. Leading collaborative design activity on enterprise-grade web and native mobile digital products. Helping clients to build lasting capability in their own teams.</p>
                <p class="role__clients"><strong>Clients:</strong> McKinsey &amp; Company, Virgin Media O2</p>
            </li>
            <li class="role flow flow-xs">
                <h3 class="role__title">Senior Product Designer at <a href="https://nearform.com" class="role__employer">NearForm</a></h3>
                <span class="role__date muted">August 2020 - July 2022</span>
                <p class="role__description">Designing, prototyping and validating enterprise-grade software products and design systems for international private and public sector clients.</p>
                <p class="role__clients"><strong>Clients:</strong> SIG, Renalytix, New York DOH, Pennsylvania DOH</p>
            </li>
            <li class="role flow flow-xs">
                <h3 class="role__title">Director and UX/UI Designer at <span class="role__employer">Goodcircle</span></h3>
                <span class="role__date muted">August 2019 - August 2020</span>
                <p class="role__description">Providing free or affordable design expertise to small charities and social enterprises on a not-for-profit basis.</p>
            </li>
            <li class="role flow flow-xs">
                <h3 class="role__title">UI Designer at <a href="https://holidayextras.com" class="role__employer">Holiday Extras</a></h3>
                <span class="role__date muted">March 2018 - August 2020</span>
                <p class="role__description">Part of a small team responsible for product design alongside maintenance of a complex multi-brand design system.</p>
            </li>
            <li class="role flow flow-xs">
                <h3 class="role__title">Senior Software Tester at <a href="https://holidayextras.com" class="role__employer">Holiday Extras</a></h3>
                <span class="role__date muted">October 2015 - June 2018</span>
                <p class="role__description">Member of the UX/UI and mobile product teams, with a focus on accessibility. Responsible for testing and deploying web and native application projects across multiple teams, coaching junior testers and promoting good practice throughout the business.</p>
            </li>
            <li class="role flow flow-xs">
                <h3 class="role__title">Software Tester, UX/UI at <a href="https://holidayextras.com" class="role__employer">Holiday Extras</a></h3>
                <span class="role__date muted">August 2014 - October 2015</span>
                <p class="role__description">Member of the Customer Experience and UX/UI teams, testing and deploying web and native application projects for Holiday Extras and partners such as Saga, Thomson, Thomas Cook and easyJet.</p>
            </li>
            <li class="role flow flow-xs">
                <h3 class="role__title">Freelance UX/UI Designer</h3>
                <span class="role__date muted">August 2012 - August 2019</span>
                <p class="role__clients"><strong>Clients:</strong> PurpleCubed, Royal College of Speech and Language Therapists</p>
            </li>
            <li class="role flow flow-xs">
                <h3 class="role__title">UX Designer and QA Manager at <a href="https://redant.com" class="role__employer">Red Ant</a></h3>
                <span class="role__date muted">April 2006 - May 2015</span>
                <p class="role__description">Responsible for requirements gathering, UX design, and quality assurance on responsive web, native mobile and in-store retail applications.</p>
                <p class="role__clients"><strong>Clients:</strong> Mastercard, Harrods, Graze, NHS, MHRA</p>
            </li>
        </ul>
    </div>

    <div>
        <h2>Qualifications</h2>
        <ul role="list" class="flow flow-m">
            <li class="qual flow flow-xs">
                <h3 class="qual__title">BSc (Hons) Design &amp; Innovation, 2:1</h3>
                <span class="qual__meta">The Open University &centerdot; 2016</span>
            </li>
            <li class="qual flow flow-xs">
                <h3 class="qual__title"><abbr>CPWA</abbr> (Certified Professional in Web Accessibility)</h3>
                <span class="qual__meta"><abbr title="International Association of Accessibility Professionals">IAAP</abbr> &centerdot; 2021-2024</span>
            </li>
            <li class="qual flow flow-xs">
                <h3 class="qual__title"><abbr>WAS</abbr> (Web Accessibility Specialist)</h3>
                <span class="qual__meta"><abbr title="International Association of Accessibility Professionals">IAAP</abbr> &centerdot; 2021-2024</span>
            </li>
            <li class="qual flow flow-xs">
                <h3 class="qual__title"><abbr>CPACC</abbr> (Certified Professional in Accessibility Core Competencies)</h3>
                <span class="qual__meta"><abbr title="International Association of Accessibility Professionals">IAAP</abbr> &centerdot; 2021-2024</span>
            </li>
            <li class="qual flow flow-xs">
                <h3 class="qual__title"><abbr>ISTQB</abbr>-<abbr>ISEB</abbr> (BCS) Certified Software Tester</h3>
                <span class="qual__meta"><abbr title="International Software Testing Qualifications Board">ISTQB</abbr> &centerdot; 2014</span>
            </li>
        </ul>
    </div>

</div>
<!-- End container -->