---
layout: layouts/base.njk
title: Matt Obee
---

<div class="container">
    <div class="hero">
        <h1 class="sr-only">Matt Obee</h1>
        <p class="hero__headline">I’m a senior digital designer specialising in accessibility.</p>
        <p>enean dictum, risus ac efficitur commodo, lorem libero sodales est, ut elementum mi mi sit amet mi. Etiam id erat justo. Suspendisse tincidunt facilisis nulla, vitae congue diam sagittis ut. In hac habitasse platea dictumst. Fusce consequat ligula sollicitudin ultricies tempus.</p>
    </div>
</div>