---
layout: layouts/default.njk
pagination:
  data: collections.notes
  size: 1
  alias: note
  addAllPagesToCollections: true
  templateData: note
permalink: "notes/{{ note.slug }}/index.html"
---

<div class="container">

<article>
  <h1>{{ note.title }}</h1>
  <div>{{ note.content }}</div>
</article>

</div>
<!-- End container -->