---
layout: layouts/default.njk
title: Notes
summary: A collection of incomplete thoughts and ideas.
---

{% set maturityTitles = {
  'seedling': 'Seedling',
  'budding': 'Budding',
  'evergreen': 'Evergreen'
} %}

<div class="container">

  <ul role="list" class="flow">
    {% for note in collections.notes %}
      <li>
        <article class="flow flow-xs">
          <h2><a class="undecorated" href="/notes/{{ note.slug }}">{{ note.title }}</a></h2>
          <p>{{ note.content }}</p>
          <span class="note__status"><small>{{ maturityTitles[note.maturity] }} &middot; Updated <sl-relative-time date="{{ note._updatedAt }}"></sl-relative-time></small></span>
        </article>
      </li>
    {% endfor %}
  </ul>

</div>
<!-- End container -->