---
layout: layouts/default.njk
title: Now
summary: A somewhat up-to-date summary of what I'm up to.
---

<div class="container readable">
    <p>Find more examples of Now pages at <a href="https://nownownow.com/">NowNowNow.com</a>.</p>

</div>
<!-- End container -->