---
layout: layouts/base.njk
title: Projects - Matt Obee
---
<div class="container">
    <h1>Projects</h1>
    {# <ul>
        <li class="project">
            <h2 class="mb-0">KidneyIntelX</h2>
            <span>NearForm, Renalytix</span>
            <p class="mb-0">Kidney disease testing</p>
        </li>
        <li class="project">
            <h2>COVID Alert NY</h2>
            <p class="mb-0">State government exposure notification</p>
            <span>NearForm, New York State Department of Health</span>
        </li>
    </ul> #}
    <table class="projects">
        <thead>
            <th class="text-left">Project</th>
            <th class="text-left">Description</th>
            <th class="text-left">Type</th>
            <th class="text-left">My role</th>
        </thead>
        <tr class="project">
            <td class="project__name">KidneyIntelX <span class="project__client">NearForm &middot; Renalytix</span></td>
            <td class="project__description">KidneyIntelX is an innovative diagnostics data platform that has the potential to stop kidney disease in its tracks. I led the design of the test ordering and results delivery experience for family healthcare providers.</td>
            <td class="project__type">Web</td>
            <td class="project__role">Product Design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Roofstores ecommerce website<span class="project__client">NearForm &middot; SIG</span></td>
            <td class="project__description">Multi-brand ecommerce website</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">COVID Alert PY <span class="project__client">NearForm &middot; Pennsylvania State Department of Health</span></td>
            <td class="project__description">State government exposure notifications</td>
            <td class="project__type">Android/iOS</td>
            <td class="project__role">Product Design</td>
        </tr>
        <tr class="project">
            <td class="project__name">COVID Alert NY <span class="project__client">NearForm &middot; New York State Department of Health</span></td>
            <td class="project__description">State government exposure notifications</td>
            <td class="project__type">Android/iOS</td>
            <td class="project__role">Product Design</td>
        </tr>
        <tr class="project">
            <td class="project__name">RCSLT CPD Diary <span class="project__client">Royal College of Speech and Language Therapists</span></td>
            <td class="project__description">RCSLT is the professional body for speech and language therapists in the UK. I redesigned the CPD diary used by therapists to record their ongoing learning, delivering improved accessibility and more efficient workflow.</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX/UI design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Work-Happy accessibility review<span class="project__client">Work-Happy</span></td>
            <td class="project__description">Monitor workplace happiness</td>
            <td class="project__type">Web</td>
            <td class="project__role">Consultancy</td>
        </tr>
        <tr class="project">
            <td class="project__name">HEHA!<span class="project__client">Holiday Extras</span></td>
            <td class="project__description">Holiday Extras processes bookings for more than 8 million travellers a year. I was part of the team that designed its intelligent holiday planning and booking application.</td>
            <td class="project__type">Android/iOS</td>
            <td class="project__role">UX/UI design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Talent Toolbox<span class="project__client">Purple Cubed</span></td>
            <td class="project__description">I helped the workplace culture experts at Purple Cubed to design the user experience of their award-winning talent management and employee communications platform.</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX Design</td>
        </tr>
        <tr class="project">
            <td class="project__name">The Entertainer <span class="project__client">Red Ant &middot; The Entertainer</span></td>
            <td class="project__description">I helped to design the online product browsing and checkout experience of the UK's largest independent toy retailer.</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Airfix, Scalextric, Corgi, &amp; Humbrol <span class="project__client">Red Ant &middot; Hornby</span></td>
            <td class="project__description">I worked on ecommerce websites for these iconic toy brands.</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Mastercard Cash Passport <span class="project__client">Red Ant &middot; Mastercard</span></td>
            <td class="project__description">I worked with Mastercard to design the onboarding and account management experience of its pre-paid multi-currency travel card.</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Sofology in-store experience <span class="project__client">Red Ant &middot; Sofology</span></td>
            <td class="project__description">In-store kiosks and customer mobile app.</td>
            <td class="project__type">Android/iOS</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Topshop ecommerce app<span class="project__client">Red Ant &middot; Topshop</span></td>
            <td class="project__description">Ecommerce app</td>
            <td class="project__type">Android/iOS</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Harrods personal shopper app <span class="project__client">Red Ant &middot; Harrods</span></td>
            <td class="project__description">Connecting customers with personal shoppers.</td>
            <td class="project__type">Android/iOS</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Designers Guild <span class="project__client">Red Ant &middot; Designers Guild</span></td>
            <td class="project__description">Ecommerce website</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Osborne &amp; Little <span class="project__client">Red Ant &middot; Osborne &amp; Little</span></td>
            <td class="project__description">Ecommerce website</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Winsor &amp; Newton ecommerce website <span class="project__client">Red Ant &middot; Winsor &amp; Newton</span></td>
            <td class="project__description">High-quality tools artists and creative professionals.</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">PrivateFly <span class="project__client">Red Ant &middot; PrivateFly</span></td>
            <td class="project__description">Premium private jet travel booking</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Graze<span class="project__client">Red Ant &middot; Graze</span></td>
            <td class="project__description">Discover the joy of tasty, wholesome snacks posted to you through your letterbox. I worked on one of the earliest versions of the Graze mobile app.</td>
            <td class="project__type">Android/iOS</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Mondo Visione<span class="project__client">Red Ant &middot; Mondo Visione</span></td>
            <td class="project__description">Worldwide financial markets intelligence</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Yellow Card<span class="project__client">Red Ant &middot; <abbr title="Medicines &amp; Healthcare products Regulatory Agency">MHRA</abbr></span></td>
            <td class="project__description">Yellow Card is the system for recording adverse incidents with medicines and medical devices in the UK. I helped to design the reporting process for healthcare professionals and members of the public.</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">General Practice Research Database (GPRD) <span class="project__client">Red Ant &middot; <abbr title="Medicines &amp; Healthcare products Regulatory Agency">MHRA</abbr></span></td>
            <td class="project__description">Searchable database of anonymised data from patient records.</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Sony World Photography Awards <span class="project__client">Red Ant &middot; World Photography Organisation</span></td>
            <td class="project__description">WPO is a leading global platform dedicated to photographic culture, and the Sony World Photography Awards is one of the world's most prestigious photography competitions. I helped to design the photo sharing, competition entry, and judging systems.</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX design</td>
        </tr>
    </table>
</div>
<section id="experience" class="section">
    <div class="container">

    </div>
</section>
