---
layout: layouts/base.njk
title: Projects - Matt Obee
---
<div class="container">
    <h1>Projects</h1>
    {# <ul>
        <li class="project">
            <h2 class="mb-0">KidneyIntelX</h2>
            <span>NearForm, Renalytix</span>
            <p class="mb-0">Kidney disease testing</p>
        </li>
        <li class="project">
            <h2>COVID Alert NY</h2>
            <p class="mb-0">State government exposure notification</p>
            <span>NearForm, New York State Department of Health</span>
        </li>
    </ul> #}
    <table class="projects">
        <thead>
            <th class="text-left">Project</th>
            <th class="text-left">Description</th>
            <th class="text-left">Type</th>
            <th class="text-left">My role</th>
        </thead>
        <tr class="project">
            <td class="project__name">KidneyIntelX <span class="project__client">NearForm/Renalytix</span></td>
            <td class="project__description">Kidney disease testing</td>
            <td class="project__type">Web</td>
            <td class="project__role">Product Design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Roofstores ecommerce website<span class="project__client">NearForm/SIG</span></td>
            <td class="project__description">Multi-brand ecommerce website</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">COVID Alert PY <span class="project__client">NearForm/Pennsylvania State Department of Health</span></td>
            <td class="project__description">State government exposure notifications</td>
            <td class="project__type">Android/iOS</td>
            <td class="project__role">Product Design</td>
        </tr>
        <tr class="project">
            <td class="project__name">COVID Alert NY <span class="project__client">NearForm/New York State Department of Health</span></td>
            <td class="project__description">State government exposure notifications</td>
            <td class="project__type">Android/iOS</td>
            <td class="project__role">Product Design</td>
        </tr>
        <tr class="project">
            <td class="project__name">RCSLT CPD Diary <span class="project__client">Royal College of Speech and Language Therapists</span></td>
            <td class="project__description">CPD diary speech therapists</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX/UI design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Work-Happy accessibility review<span class="project__client">Work-Happy</span></td>
            <td class="project__description">Monitor workplace happiness</td>
            <td class="project__type">Web</td>
            <td class="project__role">Consultancy</td>
        </tr>
        <tr class="project">
            <td class="project__name">HEHA!<span class="project__client">Holiday Extras</span></td>
            <td class="project__description">Intelligent holiday planning and booking</td>
            <td class="project__type">Android/iOS</td>
            <td class="project__role">UX/UI design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Talent Toolbox<span class="project__client">Purple Cubed</span></td>
            <td class="project__description">Award-winning talent management platform</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX Design</td>
        </tr>
        <tr class="project">
            <td class="project__name">The Entertainer <span class="project__client">Red Ant/The Entertainer</span></td>
            <td class="project__description">The UK's largest independent toy retailer</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Airfix ecommerce and community website <span class="project__client">Red Ant/Hornby</span></td>
            <td class="project__description">Ecommerce website</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Scalextrix ecommerce and community website<span class="project__client">Red Ant/Hornby</span></td>
            <td class="project__description">Ecommerce website</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Humbrol ecommerce website<span class="project__client">Red Ant/Hornby</span></td>
            <td class="project__description">Ecommerce website</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Mastercard multi-currency travel card <span class="project__client">Red Ant/Mastercard</span></td>
            <td class="project__description">Pre-paid multi-currency travel card.</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Sofology in-store experience <span class="project__client">Red Ant/Sofology</span></td>
            <td class="project__description">In-store kiosks and customer mobile app.</td>
            <td class="project__type">Android/iOS</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Topshop ecommerce app<span class="project__client">Red Ant/Topshop</span></td>
            <td class="project__description">Ecommerce app</td>
            <td class="project__type">Android/iOS</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Harrods personal shopper app <span class="project__client">Red Ant/Harrods</span></td>
            <td class="project__description">Connecting customers with personal shoppers.</td>
            <td class="project__type">Android/iOS</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Designers Guild brochure website <span class="project__client">Red Ant/Designers Guild</span></td>
            <td class="project__description">Ecommerce website</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Osborne &amp; Little brochure website <span class="project__client">Red Ant/Osborne &amp; Little</span></td>
            <td class="project__description">Ecommerce website</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Winsor &amp; Newton ecommerce website <span class="project__client">Red Ant/Winsor &amp; Newton</span></td>
            <td class="project__description">High-quality tools artists and creative professionals.</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">PrivateFly <span class="project__client">Red Ant/PrivateFly</span></td>
            <td class="project__description">Premium private jet travel booking</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Graze app<span class="project__client">Red Ant/Graze</span></td>
            <td class="project__description">Subscribe to snack selections through the post</td>
            <td class="project__type">Android/iOS</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Mondo Visione<span class="project__client">Red Ant/Mondo Visione</span></td>
            <td class="project__description">Worldwide financial markets intelligence</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Yellow Card reporting system<span class="project__client">Red Ant/<abbr title="Medicines &amp; Healthcare products Regulatory Agency">MHRA</abbr></span></td>
            <td class="project__description">Report suspected side effects to medicines.</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">General Practice Research Database (GPRD) <span class="project__client">Red Ant/<abbr title="Medicines &amp; Healthcare products Regulatory Agency">MHRA</abbr></span></td>
            <td class="project__description">Searchable database of anonymised data from patient records.</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX design</td>
        </tr>
        <tr class="project">
            <td class="project__name">Sony World Photography Awards website <span class="project__client">Red Ant/World Photography Organisation</span></td>
            <td class="project__description">Photo sharing, competition entry, and judging system.</td>
            <td class="project__type">Web</td>
            <td class="project__role">UX design</td>
        </tr>
    </table>
</div>
<section id="experience" class="section">
    <div class="container">

    </div>
</section>
