---
layout: layouts/base.njk
title: Projects - Matt Obee
---
<div class="container py-0">
    <h1>Projects</h1>
</div>
<div class="container readable py-0">
    <ul class="projects">
        {% for project in collections.project | reverse %}
        {% if project.data.casestudy %}
        <li class="project project--casestudy">
            <h2 class="project__name">{{ project.data.title }}</h2>
            {% if project.data.type and project.data.typedesc %}
            <span class="project__type">
                {% if project.data.type === 'responsive' %}
                    <i class="fa-regular fa-laptop-mobile"></i> 
                {% elif project.data.type === 'native' %}
                    <i class="fa-regular fa-mobile"></i> 
                {% elif project.data.type === 'desktop' %}
                    <i class="fa-regular fa-laptop"></i> 
                {% endif %}
                {{ project.data.typedesc }}
            </span>
            {% endif %}
            <span class="project__client muted">for {{ project.data.client }}</span>
            <p class="project__description">{{ project.data.description }}</p>
            <a class="project__casestudy" href="/" aria-label="{{ project.data.title }}">Read the case study <i class="fa-solid fa-arrow-right"></i></a>
        </li>
        {% else %}
        <li class="project">
            <h2 class="project__name">{{ project.data.title }}</h2>
            {% if project.data.type and project.data.typedesc %}
            <span class="project__type">
                {% if project.data.type === 'responsive' %}
                    <i class="fa-regular fa-laptop-mobile"></i> 
                {% elif project.data.type === 'native' %}
                    <i class="fa-regular fa-mobile"></i> 
                {% elif project.data.type === 'desktop' %}
                    <i class="fa-regular fa-laptop"></i> 
                {% else %}
                {% endif %}
                {{ project.data.typedesc }}
            </span>
            {% endif %}
            <span class="project__client muted">for {{ project.data.client }}</span>
            <p class="project__description">{{ project.data.description }}</p>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
