---
layout: layouts/base.njk
title: Resume - Matt Obee
---

<div class="container">
    <h1>Résumé</h1>
</div>

<div class="container readable">

    <h2 class="m-0">Professional Experience</h2>
    <p>From large retailers and household names to charities and government agencies, I have worked on projects of all shapes and sizes for a wide range of clients across a broad spectrum of industries.</p>
    <ul class="list mt-5">
        <li class="role role--now">
            <h3 class="role__title"><span itemprop="jobTitle">Senior Product Designer</span> at <a itemprop="memberOf" href="https://nearform.com" class="role__employer">NearForm</a></h3>
            <span class="role__date">August 2020 - Now</span>
            <p class="role__description">Collaborating with designers, engineers, subject matter experts, and stakeholders to create software products and design systems for international private and public sector clients.</p>
            <p class="role__clients"><strong>Clients:</strong> SIG, Renalytix, New York DOH, Pennsylvania DOH</p>
        </li>
        <li class="role">
            <h3 class="role__title">Director at <a href="https://goodcircle.co.uk" class="role__employer">Goodcircle</a></h3>
            <span class="role__date">August 2019 - August 2020</span>
            <p class="role__description">Vivamus efficitur nec quam a euismod. Phasellus diam mi, mollis in commodo sit amet, efficitur vel tortor. Aenean urna erat, eleifend at lectus non, sagittis tempus turpis.</p>
        </li>
        <li class="role">
            <h3 class="role__title">UI Designer at <a href="https://holidayextras.com" class="role__employer">Holiday Extras</a></h3>
            <span class="role__date">March 2018 - August 2020</span>
            <p class="role__description">Part of a small team responsible for product design alongside maintenance of a complex multi-brand design system.</p>
        </li>
        <li class="role">
            <h3 class="role__title">Senior Software Tester at <a href="https://holidayextras.com" class="role__employer">Holiday Extras</a></h3>
            <span class="role__date">October 2015 - June 2018</span>
            <p class="role__description">Member of the UX/UI and mobile product teams, with a focus on accessibility. Responsible for testing and deploying web and native application projects across multiple teams, coaching junior testers and promoting good practice throughout the business.</p>
        </li>
        <li class="role">
            <h3 class="role__title">Software Tester, UX/UI at <a href="https://holidayextras.com" class="role__employer">Holiday Extras</a></h3>
            <span class="role__date">August 2014 - October 2015</span>
            <p class="role__description">Member of the Customer Experience and UX/UI teams, testing and deploying web and native application projects for Holiday Extras and partners such as Saga, Thomson, Thomas Cook and easyJet.</p>
        </li>
        <li class="role">
            <h3 class="role__title">Freelance UX/UI Designer</h3>
            <span class="role__date">August 2012 - August 2019</span>
            <p class="role__clients"><strong>Clients:</strong> PurpleCubed, Royal College of Speech and Language Therapists</p>
        </li>
        <li class="role">
            <h3 class="role__title">UX Designer and QA Manager at <a href="https://redant.com" class="role__employer">Red Ant</a></h3>
            <span class="role__date">April 2006 - May 2015</span>
            <p class="role__description">Responsible for requirements gathering, UX design, and quality assurance on responsive web, native mobile and in-store retail applications.</p>
            <p class="role__clients"><strong>Clients:</strong> Mastercard, Harrods, Graze, NHS, MHRA</p>
        </li>
    </ul>

    <h2>Qualifications</h2>
    <ul class="list">
        <li class="qual">
            <h3 class="qual__title">BSc (Hons) Design &amp; Innovation, 2:1</h3>
            <span class="qual__date">August 2015</span>
            <span class="qual__inst">The Open University</span>
            <p class="qual__description">Description</p>
        </li>
        <li class="qual">
            <h3 class="qual__title">Certified Professional in Web Accessibility&nbsp;(CPWA)</h3>
            <span class="qual__date">August 2015</span>
            <span class="qual__inst">International Association of Accessibility Professionals&nbsp;(IAAP)</span>
            <p class="qual__description">Description</p>
        </li>
        <li class="qual">
            <h3 class="qual__title">Web Accessibility Specialist (WAS)</h3>
            <span class="qual__date">August 2015</span>
            <span class="qual__inst">International Association of Accessibility Professionals&nbsp;(IAAP)</span>
            <p class="qual__description">Description</p>
        </li>
        <li class="qual">
            <h3 class="qual__title">Certified Professional in Accessibility Core Competencies&nbsp;(CPACC)</h3>
            <span class="qual__date">August 2015</span>
            <span class="qual__inst">International Association of Accessibility Professionals&nbsp;(IAAP)</span>
            <p class="qual__description">Description</p>
        </li>
        <li class="qual">
            <h3 class="qual__title">ISTQB-ISEB (BCS) Certified Software Tester</h3>
            <span class="qual__date">January 2015</span>
            <span class="qual__inst">International Software Testing Qualifications Board&nbsp;(ISTQB)</span>
            <p class="qual__description">Description</p>
        </li>
    </ul>

</div>
<!-- End container -->