---
layout: layouts/base.njk
title: Uses - Matt Obee
---

<div class="container">
    <h1>Uses</h1>
</div>

<div class="container readable">

    <h2>Hardware</h2>
    <dl class="list">
        <dt>Laptop</dt>
        <dd>Macbook Pro 16-inch, 2019</dd>
        <dt>Microphone</dt>
        <dd>Blue Yeti</dd>
        <dt>Webcam</dt>
        <dd>Logitech C920 HD Pro</dd>
    </dl>

    <h2>Workspace</h2>
    <dl class="list">
        <dt>Chair</dt>
        <dd>Herman Miller Mirra 2</dd>
        <dt>Desk</dt>
        <dd>IKEA standing desk</dd>
    </dl>

</div>
<!-- End container -->