---
layout: layouts/default.njk
title: Uses
summary: Things I use to help me do what I do.
---

<div class="container readable flow flow-l">

    <section>
        <h2>Workspace</h2>
        <dl>
            <div>
                <dt>Office</dt>
                <dd><a href="https://dunsterhouse.co.uk/terminator-log-cabin-w4-0m-x-d3-0m">Terminator log cabin</a></dd>
            </div>
            <div>
                <dt>Chair</dt>
                <dd><a href="https://www.hermanmiller.com/en_gb/products/seating/office-chairs/mirra-2-chairs/">Herman Miller Mirra 2</a></dd>
            </div>
            <div>
                <dt>Desk</dt>
                <dd>2 x IKEA Trotten sit/stand desk</dd>
            </div>
            <div>
                <dt>Desk light</dt>
                <dd><a href="https://www.benq.eu/en-uk/lighting/monitor-light/screenbar-halo.html">Benq ScreenBar Halo</a></dd>
            </div>
            <div>
                <dt>Streaming lights</dt>
                <dd>2 x <a href="https://www.logitech.com/en-gb/products/lighting/litra-glow.946-000002.html">Logitech Litra Glow</a></dd>
            </div>
            <div>
                <dt>RGB background light</dt>
                <dd>Govee Lyra Smart Corner Floor Lamp</dd>
            </div>
        </dl>
    </section>

    <section>
        <h2>Hardware</h2>
        <dl>
            <div>
                <dt>Laptop</dt>
                <dd>MacBook Pro 16-inch, M3 Pro, 18GB</dd>
            </div>
            <div>
                <dt>Microphone</dt>
                <dd>Blue Yeti on a RØDE PSA1 arm</dd>
            </div>
            <div>
                <dt>Earphones</dt>
                <dd>Shure SE215 Pro in-ear monitors</dd>
            </div>
            <div>
                <dt>Webcam</dt>
                <dd>Logitech C920 HD Pro</dd>
            </div>
        </dl>
    </section>

    <section>
        <h2>Productivity</h2>
        <dl>
            <div>
                <dt>Browser</dt>
                <dd><a href="https://arc.net/">Arc</a></dd>
            </div>
            <div>
                <dt>Tasks</dt>
                <dd><a href="https://todoist.com/">Todoist</a></dd>
            </div>
            <div>
                <dt>Notes</dt>
                <dd><a href="https://capacities.io/">Capacities</a> and <a href="https://notion.so/">Notion</a></dd>
            </div>
            <div>
                <dt>Read-it-later</dt>
                <dd><a href="https://readwise.io/read">Readwise</a></dd>
            </div>
            <div>
                <dt>Prototyping</dt>
                <dd>Figma</dd>
            </div>
            <div>
                <dt>Code Editor</dt>
                <dd><a href="https://code.visualstudio.com/">Visual Studio Code</a></dd>
            </div>
            <div>
                <dt>Git</dt>
                <dd><a href="https://desktop.github.com/">GitHub Desktop</a></dd>
            </div>
        </dl>
    </section>

    <section>
        <h2>Utilities</h2>
        <dl>
            <div>
                <dt>VPN</dt>
                <dd><a href="https://ref.nordvpn.com/xElkBiwuKdw">NordVPN</a></dd>
            </div>
            <div>
                <dt>Password manager</dt>
                <dd><a href="https://1password.com/">1Password</a></dd>
            </div>
            <div>
                <dt>Clipboard manager</dt>
                <dd><a href="https://maccy.app/">Maccy</a></dd>
            </div>
            <div>
                <dt>Window manager</dt>
                <dd><a href="https://rectangleapp.com/">Rectangle</a></dd>
            </div>
            <div>
                <dt>Window switching</dt>
                <dd><a href="https://alt-tab-macos.netlify.app/">AltTab</a></dd>
            </div>
        </dl>
    </section>

</div>
<!-- End container -->