---
layout: layouts/default.njk
title: Verify
summary: It's me, for real
---

<div class="container readable leading-looser">
    <h2>Domain names</h2>
    <p>I control and actively use the following personal domain names:</p>
    <ul>
        <li>mattobee.com</li>
        <li>obee.me</li>
    </ul>

    <h2>Social accounts</h2>
    <p>I control the following personal accounts, but they are not necessarily all active:</p>
    <ul>
        <li><del>Twitter: @mattobee</del></li>
        <li><a href="https://linkedin.com/in/mattobee">LinkedIn: mattobee</a></li>
        <li><a href="https://github.com/mattobee">GitHub: mattobee</a></li>
        <li><a href="https://mastodon.social/@mattobee">Mastodon: @mattobee@mastodon.social</a></li>
        <li><a href="https://bsky.app/profile/obee.me">Bluesky: @obee.me</a></li>
        <li><a href="https://goodreads.com/mattobee">Goodreads: mattobee</a></li>
        <li><a href="https://www.instagram.com/mattobee/">Instagram: mattobee</a></li>
        <li><a href="https://www.facebook.com/mattobee">Facebook: mattobee</a></li>
        <li><a href="https://www.threads.net/@mattobee">Threads: mattobee</a></li>
    </ul>

</div>
<!-- End container -->