---
layout: layouts/base.njk
title: Work - Matt Obee
---
<div class="container">
    <h1>Experience</h1>
</div>
<section id="experience" class="section">
    <div class="container">
        <div class="grid">
            <div class="client">
                <div class="client__header">
                    <img class="client__logo" src="/images/mastercard.png" alt="MasterCard" />
                </div>
                <div class="client__body">
                    <p class="client__credit"><small>MasterCard/Red Ant</small></p>
                    <p>Websites, apps and in-store kiosks, I've tested digital products of all shapes and sizes. From tricky bugs to usability nightmares, I know how to find the problems.</p>
                </div>
            </div>
            <div class="client">
                <div class="client__header">
                    <img class="client__logo" src="/images/workhappy.png" alt="MasterCard" />
                </div>
                <div class="client__body">
                    <p class="client__credit"><small>WorkHappy</small></p>
                    <p>Websites, apps and in-store kiosks, I've tested digital products of all shapes and sizes. From tricky bugs to usability nightmares, I know how to find the problems.</p>
                </div>
            </div>
            <div class="client">
                <div class="client__header">
                    <img class="client__logo" src="/images/doh.png" alt="MasterCard" />
                </div>
                <div class="client__body">
                    <p class="client__credit"><small>MasterCard/Red Ant</small></p>
                    <p>Websites, apps and in-store kiosks, I've tested digital products of all shapes and sizes. From tricky bugs to usability nightmares, I know how to find the problems.</p>
                </div>
            </div>
            <div class="client">
                <div class="client__header">
                    <img class="client__logo" src="/images/pc.png" alt="MasterCard" />
                </div>
                <div class="client__body">
                    <p class="client__credit"><small>MasterCard/Red Ant</small></p>
                    <p>Websites, apps and in-store kiosks, I've tested digital products of all shapes and sizes. From tricky bugs to usability nightmares, I know how to find the problems.</p>
                </div>
            </div>
            <div class="client">
                <div class="client__header">
                    <img class="client__logo" src="/images/harrods.png" alt="MasterCard" />
                </div>
                <div class="client__body">
                    <p class="client__credit"><small>MasterCard/Red Ant</small></p>
                    <p>Websites, apps and in-store kiosks, I've tested digital products of all shapes and sizes. From tricky bugs to usability nightmares, I know how to find the problems.</p>
                </div>
            </div>
            <div class="client">
                <div class="client__header">
                    <img class="client__logo" src="/images/nhs.png" alt="MasterCard" />
                </div>
                <div class="client__body">
                    <p class="client__credit"><small>MasterCard/Red Ant</small></p>
                    <p>Websites, apps and in-store kiosks, I've tested digital products of all shapes and sizes. From tricky bugs to usability nightmares, I know how to find the problems.</p>
                </div>
            </div>
            <div class="client">
                <div class="client__header">
                    <img class="client__logo" src="/images/graze.png" alt="MasterCard" />
                </div>
                <div class="client__body">
                    <p class="client__credit"><small>MasterCard/Red Ant</small></p>
                    <p>Websites, apps and in-store kiosks, I've tested digital products of all shapes and sizes. From tricky bugs to usability nightmares, I know how to find the problems.</p>
                </div>
            </div>
            <div class="client">
                <div class="client__header">
                    <img class="client__logo" src="/images/hx.png" alt="MasterCard" />
                </div>
                <div class="client__body">
                    <p class="client__credit"><small>MasterCard/Red Ant</small></p>
                    <p>Websites, apps and in-store kiosks, I've tested digital products of all shapes and sizes. From tricky bugs to usability nightmares, I know how to find the problems.</p>
                </div>
            </div>
            <div class="client">
                <div class="client__header">
                    <img class="client__logo" src="/images/sofology.png" alt="MasterCard" />
                </div>
                <div class="client__body">
                    <p class="client__credit"><small>MasterCard/Red Ant</small></p>
                    <p>Websites, apps and in-store kiosks, I've tested digital products of all shapes and sizes. From tricky bugs to usability nightmares, I know how to find the problems.</p>
                </div>
            </div>
            <div class="client">
                <div class="client__header">
                    <img class="client__logo" src="/images/arcadia.png" alt="MasterCard" />
                </div>
                <div class="client__body">
                    <p class="client__credit"><small>MasterCard/Red Ant</small></p>
                    <p>Websites, apps and in-store kiosks, I've tested digital products of all shapes and sizes. From tricky bugs to usability nightmares, I know how to find the problems.</p>
                </div>
            </div>
            <div class="client">
                <div class="client__header">
                    <img class="client__logo" src="/images/hx.png" alt="MasterCard" />
                </div>
                <div class="client__body">
                    <p class="client__credit"><small>MasterCard/Red Ant</small></p>
                    <p>Websites, apps and in-store kiosks, I've tested digital products of all shapes and sizes. From tricky bugs to usability nightmares, I know how to find the problems.</p>
                </div>
            </div>
            <div class="client">
                <div class="client__header">
                    <img class="client__logo" src="/images/sofology.png" alt="MasterCard" />
                </div>
                <div class="client__body">
                    <p class="client__credit"><small>MasterCard/Red Ant</small></p>
                    <p>Websites, apps and in-store kiosks, I've tested digital products of all shapes and sizes. From tricky bugs to usability nightmares, I know how to find the problems.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="section section--contact">
    <div class="container">
        <h2 class="section__heading">Contact</h2>
        <p>Email me at <a href="mailto:hello@mattobee.com">hello@mattobee.com</a> or send a direct message to <a href="https://twitter.com/mattobee" itemprop="sameAs">@mattobee</a> on Twitter.</p>
        <p>It's currently <strong>2:34pm</strong> where I am.</p>
        <ul class="social">
            <li><a itemprop="sameAs" href="https://twitter.com/mattobee"><i class="fab fa-fw fa-twitter"></i><span class="sr-only">Twitter</span></a></li>
            <li><a itemprop="sameAs" href="https://linkedin.com/in/mattobee"><i aria-hidden="true" class="icon fab fa-fw fa-linkedin-in" title="LinkedIn"></i><span class="sr-only">LinkedIn</span></a></li>
            <li><a itemprop="sameAs" href="https://ux.stackexchange.com/users/10615/matt-obee"><i aria-hidden="true" class="icon fa-fw fab fa-stack-exchange" title="StackExchange"></i><span class="sr-only">StackExchange</span></a></li>
            <li><a itemprop="sameAs" href="https://goodreads.com/mattobee"><i aria-hidden="true" class="icon fa-fw fab fa-goodreads-g" title="Goodreads"></i><span class="sr-only">Goodreads</span></a></li>
            <li><a itemprop="sameAs" href="https://flickr.com/mattobee"><i aria-hidden="true" class="icon fa-fw fab fa-flickr" title="Flickr"></i><span class="sr-only">Flickr</span></a></li>
        </ul>
    </div>
</section>
